<%- include ('../partials/header') %>

  <!-- Jumbotron -->
  <div class="container my-4">
    <div class="jumbotron">
      <h1 class="display-4">Welcome To BunnyGround!</h1>
      <p class="lead">This is a friendly place for bunnies to show off their loveliness, make new friends, and more!</p>
      <hr class="my-4">
      <a href="/bunnies/new" class="btn btn-success btn-lg">Add Your Bunny</a>
      <% if (currentUser) { %>
        <a href="/bunnies/<%= user.bunny %>" class="btn btn-primary btn-lg">My Bunny Hutch</a>
      <% } else { %>
        <a href="/bunnies" class="btn btn-primary btn-lg">My Bunny Hutch</a>
      <% } %>
    </div>
  </div>
  <!-- Grid system for displaying bunnies -->
  <div class="container">
    <div class="row">
      <% bunnies.forEach((bunny) => { %>
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <img src="<%= bunny.image %>" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title"><%= bunny.name %></h5>
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn btn-sm btn-info">More Info</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div> <!-- div.row -->
  </div>  <!-- div.container -->
</body>
</html>

<%- include ('../partials/footer') %>