<%- include('../partials/header') %>

<div class="container" id="">
  <div class="row">
    <div class="col-lg-3">
      <div class="profile-container mb-4">
        <div class="card show-card mb-2">
          <img src="<%= bunny.image %>" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title blue"><%= bunny.name %><% if (currentUser && bunny.owner.equals(currentUser._id)) { %> <a href="/bunnies/<%= bunny._id %>/edit" class="btn btn-warning btn-sm" id="bunny-edit-btn"><i class="fas fa-edit"></i></a><% } %></h5>
            <% const sexIcon = (bunny.sex === 'Male') ? 'fa-mars' : (bunny.sex === 'Female') ? 'fa-venus' : 'fa-carrot' %>
            <p><span><strong>Sex:</strong> <i class="fas <%= sexIcon %>"></i></span>&nbsp&nbsp&nbsp&nbsp<span><strong>Age:</strong> <%= bunny.age %></span></p>
          </div>
        </div>
        <% if (currentUser && bunny.owner.equals(currentUser._id)) { %>
          <a href="/bunnies/<%= bunny._id %>/posts/new" class="btn btn-success btn-block">Add New Post</a>
        <% } %>
        <a href="/bunnies" class="btn btn-info btn-block">Go Back</a>
      </div>
    </div>
    <div class="col-lg-9">
      <% bunny.posts.forEach((post) => { %>
        <div class="post">
          <div class="card post-card mb-4">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="card-img img-fluid" src="<%= post.image %>" alt="Image of the Post">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <% const text = (post.text.length < 150) ? post.text : (post.text.substring(0, 150) + '...') %>
                  <p class="card-text"><%= text %></p>
                  <p class="card-text"><small class="text-muted"><%= post.time %><a href="/bunnies/<%= bunny._id %>/posts/<%= post._id %>" class="btn btn-info btn-sm float-right">Read More</a></small></p>
                </div>
              </div>
            </div> <!-- div.row.no-gutters -->
          </div> <!-- div.card.post-card.mb-4 -->
        </div> <!-- div.post -->
      <% }) %>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>