<%- include('../partials/header') %>

<div class="container mt-15vh mb-3">
  <div class="row">
    <div class="col-md-2 col-lg-3"></div>
    <div class="col-md-8 col-lg-6">
      <!-- Post -->
      <div class="card post-show-card mb-2">
        <img src="<%= post.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><%= post.title %></h4>
          <p class="card-text"><%= post.text %></p>
          <span class="card-text"><small class="text-muted"><%= post.time %></small></span>
          <!-- Edit/Delete buttons -->
          <% if (currentUser && post.author.equals(currentUser._id)) { %>
            <form action="/bunnies/<%= bunnyID %>/posts/<%= post._id%>?_method=DELETE" method="POST" class="delete-form mx-2">
              <button class="btn btn-sm btn-danger float-right">Delete</button>
            </form>
            <a href="/bunnies/<%= bunnyID %>/posts/<%= post._id %>/edit" class="btn btn-sm btn-warning float-right mx-2">Edit</a>
          <% } %>
        </div>
      </div>
      <!-- Comments -->
      <div class="card mb-2">
        <div class="card-header comment-card-header">
          <span>Comment</span>
          <% if(currentUser) { %>
            <a href="/bunnies/<%= bunnyID %>/posts/<%= post._id %>/comments/new" class="btn btn-sm btn-success float-right">Leave Comment</a>
          <% } %>
        </div>
        <div class="card-body">
          <% post.comments.forEach((comment) => { %>
            <div class="comment">
              <p class="card-text"><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
              <span class="card-text"><small class="text-muted"><%= comment.time %></small></span>
              <!-- Edit/Delete buttons -->
              <% if(currentUser && comment.author._id.equals(currentUser._id)) { %>
                <form action="/bunnies/<%= bunnyID %>/posts/<%= post._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="delete-form mx-2">
                  <button class="btn btn-sm btn-danger float-right">Delete</button>
                </form>
                <a href="/bunnies/<%= bunnyID %>/posts/<%= post._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning float-right mx-2">Edit</a>
              <% } %>
              <hr>
            </div>
          <% }) %>
        </div>
      </div>
      <!-- Go Back -->
      <a href="/bunnies/<%= bunnyID %>" class="btn btn-block btn-info mb-2">Go Back</a>
    </div>
    <div class="col-md-2 col-lg-3"></div>
  </div>
</div>

<%- include('../partials/footer') %>